@font-face {
    font-family: 'Stardew Valley';
    src: url(../css/fonts/stardew-valley-speech.ttf) format ('truetype');
}

@font-face {
    font-family: 'Khand';
    src: url(../css/fonts/Khand/Khand-Bold.ttf) format ('truetype'),
            url(../css/fonts/Khand/Khand-Light.ttf) format ('truetype'),
            url(../css/fonts/Khand/Khand-Medium.ttf) format ('truetype'),
            url(../css/fonts/Khand/Khand-Regular.ttf) format ('truetype'),
            url(../css/fonts/Khand/Khand-SemiBold.ttf) format ('truetype');
}

* {
    font-family: 'Khand', Arial, sans-serif;
}

h1 {
    color: #BE6024;
    /* color: #4A3068; */
    font-family: 'Stardew Valley', Impact, serif;
    font-size: 150px;
    text-align: center;
    margin-bottom: 20px;
}

p, li {
    font-size: 18px;
}

/* --- Links --- */
a:link { /* unvisited */
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a:active { /* selected */
    text-decoration: underline;
}
/* ------- */

body {
    background-color: #3A2427;
}

/* --- Footer --- */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #0A0410;
    color: #D3AF7A;
    text-align: center;
}

footer p {
    font-size: 15px;
}
/* ------- */

/* --- Navigation bar --- */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #0A0410;
    background-color:#D3AF7A;
}

.nav ul {
    padding: 0;
}

.nav li {
    display: inline-block;
    padding: 30px;
}
/* ------- */

/* --- Homepage --- */
.home {
    padding-top: 100px;
    text-align: center;
}

#invite {
    max-width: 700px;
    max-height: 500px;
    width: auto;
    height: auto;
    filter: drop-shadow(1px 1px 1px black);
}

.start-button {
    background: none;
    border: none;
    cursor: pointer;
}
/* ------- */

.small-text {
    font-size: 12px;
    font-style: italic;
}
 .small-text a {
    color: #BE6024;
}

/* --- Language Menu --- */
.drop-button {
    background-color: transparent;
    font-size: 18px;
    border: none;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* hidden by default */
    position: absolute;
    background-color: #BE6024;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #0A0410;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown-menu:hover .drop-button {
    text-decoration: underline;
}
/* ------- */
