* {
    font-family: Khand, Arial, sans-serif;
}

h1 {
    color: #BE6024;
    /* color: #4A3068; */
    font-family: "Stardew Valley", Impact, serif;
    font-size: 150px;
    text-align: center;
    margin-bottom: 20px;
}

p, li {
    font-size: 18px;
    /* font-family: 'Stardew Valley', sans-serif; */
}

/* * * Links * * */
a:link { /* unvisited */
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a:active { /* selected */
    text-decoration: underline;
}
/* * * * * */

body {
    /* background-image: url("../images/panorama.jpeg");
    background-size: cover; */
    background-color: #3A2427;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #0A0410;
    color: #D3AF7A;
    text-align: center;
}

footer p {
    font-size: 15px;
}

/* Navigation bar */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;

    text-align: center;
    color: #0A0410;

    background-color:#D3AF7A;
}

.nav li {
    display: inline-block;
    padding: 30px;
}

/* Homepage */
.home {
    padding-top: 100px;
    text-align: center;
}

#cabin {
    width: 20px;
    height: 30px;
    filter: drop-shadow(1px 1px 1px black);
}

#invite {
    max-width:700px;
    max-height:500px;
    width: auto;
    height: auto;
    filter: drop-shadow(1px 1px 1px black);
}

.start-button {
    background: none;
    border: none;
    cursor: pointer;
}

.small-text {
    font-size: 12px;
    font-style: italic;
}
 .small-text a {
    color: #BE6024;
 }
